
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #2c3e50;
  color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header-left h1 {
  font-size: 34px;
  margin: 0;
}

.header-center ul {
  display: flex;
  list-style-type: none;
  margin: 3;
  padding: 3;
}

.header-center li {
  margin: 0 20px;
}

.header-center a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 26px;
  transition: color 0.3s;
}

.header-center a:hover {
  color: #f39c12;
   
}

.header-right button {
  padding: 20px 30px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-right button:hover {
  background-color: #2f51e8;
}

.header-right .get-in-touch-btn {
  padding: 20px 30px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.header-right .LogIn-btn:hover {
  background-color: #ff4500;
}
